---
layout: default
title_override: Christopher Ingram | Lead Full Stack Software Engineer
---
<section class="bg-blue-dark text-white pt-6 lg:pt-10 lg:relative">
  <div class="wrapper lg:flex lg:pb-7 lg:pt-1">
    <div class="hero--content px-2.5 py-6 md:py-10 lg:flex lg:flex-col lg:justify-center lg:px-0 lg:pr-10 lg:py-0 xl:pr-15">
      <h2 class="font-bold text-3 leading-tight mb-1 md:text-4 lg:text-4.5 lg:-mt-4">Christopher Ingram</h2>
      <h3 class="text-grey text-2.2 font-medium leading-snug md:text-3.5 lg:text-3.5 mb-2">Full Stack Lead Software&nbsp;Engineer</h3>
      <p class="text-grey mb-3 lg:text-1.8" style="max-width: 48ch">6+ years of experience building full-stack products from the ground up, favouring productive and efficient architectures.</p>
      <a href="#work-history" class="inline-flex items-center">{% include svg/arrow-down.svg %} <span class="ml-1">See work</span></a>
    </div>
    <div class="hero--image-container flex items-center flex-1">
      <img src="/assets/me.jpg" class="w-full block">
    </div>
  </div>
</section>
<section class="bg-blue-light px-2.5 pt-6 lg:pt-10">
  <div class="max-w-72 mx-auto grid grid-cols-2 gap-3 md:flex md:gap-0">
    <div class="logos--svg-wrapper md:mr-3 lg:mr-5">{% include svg/phe.svg %}</div>
    <div class="logos--svg-wrapper md:mr-3 lg:mr-5">{% include svg/boxmove.svg %}</div>
    <div class="logos--svg-wrapper md:mr-3 lg:mr-5">{% include svg/hacw.svg %}</div>
    <div class="logos--svg-wrapper">{% include svg/incase.svg %}</div>
  </div>
</section>
<section id="work-history" class="bg-blue-light px-2.5 py-5 lg:pb-7 lg:pt-8">
  <div class="max-w-92 mx-auto">
    <h2 class="text-white font-medium text-3 lg:text-3.5 mb-4">Work History</h2>
    <div>
      {% for item in site.data.work %}
        <div class="mb-4 md:flex">
          <div class="md:w-1/4 md:mr-3 lg:w-1/3 lg:mr-5"><img src="/assets/work/{{item.image}}" alt="{{company}}" class="w-full"></div>
          <div class="pt-3 md:flex-1 md:pt-0">
            <h3 class="text-white font-medium mb-0.5">{{item.company}}</h3>
            <p class="text-white mb-1">{{item.position}}</p>
            <p class="text-grey mb-1.5">{{item.description}}</p>
            <div>
              {% for t in item.technologies %}
                <span class="bg-white text-blue-dark rounded-lg px-0.5 inline-block font-medium text-1.4 mb-0.5">{{t}}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-blue-light px-2.5 pb-5 lg:pb-7">
  <div class="max-w-92 mx-auto">
    <h2 class="text-white font-medium text-3 lg:text-3.5 mb-4">Technologies</h2>
    <div class="grid grid-cols-2 gap-3 md:flex md:gap-0">
      <div class="logos--svg-wrapper md:mr-3 lg:mr-5">{% include svg/react.svg %}</div>
      <div class="logos--svg-wrapper md:mr-3 lg:mr-5">{% include svg/rails.svg %}</div>
      <div class="logos--svg-wrapper md:mr-3 lg:mr-5">{% include svg/react-native.svg %}</div>
      <div class="logos--svg-wrapper md:mr-3 lg:mr-5">{% include svg/swift.svg %}</div>
      <div class="logos--svg-wrapper md:mr-3 lg:mr-5">{% include svg/nextjs.svg %}</div>
      <div class="logos--svg-wrapper">{% include svg/postgres.svg %}</div>
    </div>
  </div>
</section>
