<section id="contact" class="bg-blue-dark text-white text-center py-5 lg:py-7">
  <div class="wrapper">
    <h2 class="text-white font-medium text-3 lg:text-3.5 mb-4">Get in touch</h2>
    <div class="mb-2">
      <a href="mailto:chris@chrisingram.me" class="inline-flex items-center text-1.8"><span class="mr-1">chris@chrisingram.me</span> {% include svg/arrow-right.svg %}</a>
    </div>
    <ul class="flex items-center justify-center space-x-2">
      <li><a class="funky-hover" href="https://www.linkedin.com/in/chris-ingram-6b002644/">LinkedIn</a></li>
      <li><a class="funky-hover" href="https://twitter.com/chrisjingram">Twitter</a></li>
    </ul>
  </div>

</section>