<header>
  <div class="wrapper flex items-center h-full">
    <h1 class="font-bold"><a href="/">Christopher Ingram</a></h1>
    <nav class="flex-1 self-stretch flex justify-end">
      <ul class="hidden lg:flex h-full items-center pr-2.5">
        <li class="mr-4"><a href="#">Work</a></li>
        <li class="mr-4"><a href="#">Download CV</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <button id="hamburger" class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </nav>
  </div>
</header>