<section id="intro">
  <h2>About me</h2>
  <p>Over 6 years of experience, working with small businesses and startups to create slick web and mobile apps.</p>
  <p>A range of live applications, working with organisations such as Public Health England, as well as businesses such as inCase, Boxmove and How a Car Works.</p>
  <p>Technologies: iOS, React Native, Ruby on Rails, HTML and CSS.</p>
<!--  <a href="#" class="button icon-right">Read more<i class="material-icons">arrow_right</i></a>-->
</section>