<!-- Three -->
<section id="three" class="wrapper fade-up">
  <div class="inner">
    <h2>Ready to chat?</h2>
    <p>Call or email me today to discuss your ideas.</p>
    <section>
      <ul class="contact">
        <li>
          <h3>Phone</h3>
          <a href="tel:+447875488721">07875 488721</a>
        </li>
        <li>
          <h3>Email</h3>
          <a href="mailto:chris@chrisingram.me">chris@chrisingram.me</a>
        </li>
        <li>
          <h3>Social</h3>
          <ul class="icons">
            <li><a href="https://twitter.com/chrisjingram" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://github.com/chrisjingram" class="fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="mailto:chris@chrisingram.me" class="fa-envelope"><span class="label">Email</span></a></li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
</section>
