<!-- Intro -->
<section id="intro" class="wrapper fullscreen fade-up">
  <div class="inner">
    <h1>Chris Ingram</h1>
    <p>Software developer currently based in Manchester, focusing on iOS development,<br> web technologies and server side architectures</a>
    <ul class="icons">
      <li><a href="https://twitter.com/chrisjingram" class="fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://github.com/chrisjingram" class="fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="mailto:chris@chrisingram.me" class="fa-envelope"><span class="label">Email</span></a></li>
    </ul>

  </div>
</section>
