<!-- Intro -->
<section id="intro" class="wrapper fullscreen fade-up">
  <div class="inner">
    <h1>Chris Ingram</h1>
    <p>Software developer currently based in Sheffield, focusing on iOS development,<br> web technologies and server side architectures</a>
    <ul class="actions">
      <li><a href="#one" class="button scrolly">Projects</a></li>
    </ul>
  </div>
</section>
