<!-- Intro -->
<section id="intro" class="wrapper fullscreen fade-up">
  <div class="inner">
    <h1>Chris Ingram</h1>
    <p>Web designer and senior developer based in Manchester, creating beautiful websites and mobile apps.</p>
    <ul class="icons">
      <li><a href="https://twitter.com/chrisjingram" class="fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://github.com/chrisjingram" class="fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="mailto:chris@chrisingram.me" class="fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  </div>
</section>
