<!-- Sidebar -->
  <section id="sidebar">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="#intro">Home</a></li>
          <li><a href="#one">Projects</a></li>
          <li><a href="#two">Skills and experience</a></li>
          <li><a href="#three">Contact</a></li>
        </ul>
      </nav>
    </div>
  </section>
