<!-- One -->
<section id="projects" class="wrapper spotlights">
  <section>
    <a href="#" class="image"><img src="assets/images/movemore-iphone.png" alt="" data-position="center center" /></a>
    <div class="content">
      <div class="inner">
        <h2>MoveMore</h2>
        <p>I am the sole iOS developer for the mobile app supporting the MoveMore campaign in Sheffield providing scores, a breakdown of the users daily activity, and competitions. From concept to production I designed and developed the backend motion tracking technology, front end interface and scalable server architecture to capture large quantities of data from users of the app.</p>
        <ul class="actions">
          <li><a href="#" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="#" class="image"><img src="assets/images/lecture-macbook-1500.jpg" alt="" data-position="center center" /></a>
    <div class="content">
      <div class="inner">
        <h2>Seeing With My Own Eyes</h2>
        <p>As a project for OAK Research Group, I developed a web app to enable visually impaired students to fully engage with the live demonstrations that take place in the modern classroom. Using WebRTC technology the teachers screen can be live streamed to the student's laptop with just one click, and without third party software.</p>
        <ul class="actions">
          <li><a href="#" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="#" class="image"><img src="assets/images/decs-screenshot-1500.jpg" alt="" data-position="top left" /></a>
    <div class="content">
      <div class="inner">
        <h2>Robert Ingram Decorators</h2>
        <p>Since 2006 I have designed, developed and maintained several versions of the website and portfolio for Robert Ingram Decorators, a painting and decorating company based in Leicestershire. The website was developed using HTML, CSS and Javascript.</p>
        <ul class="actions">
          <li><a href="#" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
</section>