<!-- One -->
<section id="one" class="wrapper spotlights">
  <section>
    <a href="http://movemoresheffield.com" class="image"><img src="assets/images/movemore-iphone.png" alt="" data-position="center center" /></a>
    <div class="content">
      <div class="inner">
        <h2>MoveMore</h2>
        <p>I am the sole iOS developer for the mobile app supporting the MoveMore campaign in Sheffield, providing scores, a breakdown of the users daily activity, and competitions. From concept to production I designed and developed the backend motion tracking technology, front end interface and scalable server architecture to capture large quantities of data from users of the app.</p>
        <ul class="actions app-stores">
          <li><a href="http://movemoresheffield.com" class="button">Learn more</a></li>
          <li><a class="app-store" href='https://itunes.apple.com/gb/app/movemore-sheffield/id1093481731'/><img style="width: 100%;" alt='Get it on Google Play' src='assets/images/apple-app-store.png'/></a></li>
          <li><a class="app-store" href='https://play.google.com/store/apps/details?id=uk.ac.shef.oak.ActivityRecognition.WeSenseIt.MoveMore'><img style="width: 100%;" alt='Get it on Google Play' src='assets/images/google-play.png'/></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="#" class="image"><img src="assets/images/lecture-macbook-1500.jpg" alt="" data-position="center center" /></a>
    <div class="content">
      <div class="inner">
        <h2>Seeing With My Own Eyes</h2>
        <p>As a project for OAK Research Group, I developed a web app to enable visually impaired students to fully engage with the live demonstrations that take place in the modern classroom. Using WebRTC technology the teacher's screen can be live streamed to the student's laptop with just one click, and without third party software.</p>
        <ul class="actions">
          <li><a href="#" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="http://robertingramdecorators.com" class="image"><img src="assets/images/decs-screenshot-1500.jpg" alt="" data-position="top left" /></a>
    <div class="content">
      <div class="inner">
        <h2>Robert Ingram Decorators</h2>
        <p>Since 2006 I have designed, developed and maintained several versions of the website and portfolio for Robert Ingram Decorators, a painting and decorating company based in Leicestershire. The website was developed using HTML, CSS and Javascript.</p>
        <ul class="actions">
          <li><a href="http://robertingramdecorators.com" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="http://candmpropertyinstallations.com" class="image"><img src="assets/images/candm-screenshot-1500.jpg" alt="" data-position="top left" /></a>
    <div class="content">
      <div class="inner">
        <h2>C&amp;M Property Installations</h2>
        <p>I designed and developed the website for C&amp;M Property Installations, a UPVC windows, doors and conservatories company based in Leicestershire. The website was developed using HTML, CSS and Javascript, and a bespoke system was created to allow the company owners to upload their own photos to the portfolio.</p>
        <ul class="actions">
          <li><a href="http://candmpropertyinstallations.com" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
</section>