<!-- One -->
<section id="one" class="wrapper style2 spotlights">
  <section>
    <a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
    <div class="content">
      <div class="inner">
        <h2>MoveMore</h2>
        <p>I am the sole iOS developer for the mobile app supporting the MoveMore campaign in Sheffield providing scores, a breakdown of the users daily activity, and competitions. From concept to production I designed and developed the backend motion tracking technology, front end interface and scalable server architecture to capture large quantities of data from users of the app.</p>
        <ul class="actions">
          <li><a href="#" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a>
    <div class="content">
      <div class="inner">
        <h2>Seeing With My Own Eyes</h2>
        <p>As a project for OAK Research Group, I developed a web app to enable visually impaired students to fully engage with the live demonstrations that take place in the modern classroom. Using WebRTC technology the teachers screen can be live streamed to the student's laptop with just one click, and without third party software.</p>
        <ul class="actions">
          <li><a href="#" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
    <div class="content">
      <div class="inner">
        <h2>Ultricies aliquam</h2>
        <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
        <ul class="actions">
          <li><a href="#" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
</section>