<!-- One -->
<section id="one" class="wrapper spotlights">
  <section>
    <a href="https://howacarworks.com" class="image"><img src="assets/images/hacw-mockup.png" alt="" data-position="center center" /></a>
    <div class="content">
      <div class="inner">
        <h2>How A Car Works</h2>
        <p>Android mobile app developed for the <strong>How A Car Works</strong> video course. The app allows the video course to be streamed or saved for offline viewing, and allows searching a guide to every part of a car. Developed using React Native and Redux.</p>
        <ul class="actions app-stores">
          <li><a href="https://howacarworks.com" class="button">Learn more</a></li>
          <li><a class="app-store" href='https://play.google.com/store/apps/details?id=com.howacarworks'><img style="width: 100%;" alt='Get it on Google Play' src='assets/images/google-play.png'/></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="https://etcetera.design" class="image"><img src="assets/images/etcetera-screenshot.png" alt="" data-position="center center" /></a>
    <div class="content">
      <div class="inner">
        <h2>Etcetera Design</h2>
        <p>Website for Etcetera Design based in London, specialising in web design, app design and company branding.</p>
        <ul class="actions app-stores">
          <li><a href="https://etcetera.design" class="button">Website</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="https://itunes.apple.com/gb/app/one-you-active-10-walking-tracker/id1204295312" class="image"><img src="assets/images/active10-iphone.png" alt="" data-position="center center" /></a>
    <div class="content">
      <div class="inner">
        <h2>Active 10</h2>
        <p>I lead the development of the iOS and server architecture for Public Health England's app <strong>One You Active 10</strong>. The app interacts with activity, location and pedometer sensors in the iPhone to calculate the speed at which the user walks, providing them with rewards and achievements to encourage them to walk faster and become more healthy. All calculations are performed on the phone, and algorithms were designed with performance and battery life in mind. Data is sent periodically to a server architecture designed with the appropriate scalability and security to support half a million users' sensitive data.</p>
        <ul class="actions app-stores">
          <li><a href="https://www.nhs.uk/oneyou/active10/home" class="button">Learn more</a></li>
          <li><a class="app-store" href='https://itunes.apple.com/gb/app/one-you-active-10-walking-tracker/id1204295312'><img style="width: 100%;" alt='Get it on Google Play' src='assets/images/apple-app-store.png'/></a></li>
          <li><a class="app-store" href='https://play.google.com/store/apps/details?id=uk.ac.shef.oak.pheactiveten'><img style="width: 100%;" alt='Get it on Google Play' src='assets/images/google-play.png'/></a></li>
        </ul>
      </div>
    </div>
  </section>
</section>
