<!-- Two -->
<section id="two" class="wrapper skills fade-up">
  <div class="inner">
    <h2>Skills</h2>
    <p>I develop both backend and frontend code, and can quickly understand and contribute to any level of the stack.</p>
    <div class="features">
      <section>
        <span class="icon major fa-code"></span>
        <h3>Development</h3>
        <p>Confident in Swift for iOS, React, React Native and Node.js, I have developed mobile and web applications designed to scale to half a million users.</p>
      </section>
      <section>
        <span class="icon major fa-terminal"></span>
        <h3>Technologies</h3>
        <p>iOS, CoreMotion, GPS, Node.js, React, React Native, Electron, MySQL, Mongo, AWS, Nginx, Git, Vim</p>
      </section>
      <section>
        <span class="icon major fa-cog"></span>
        <h3>Teamwork</h3>
        <p>Having worked in several teams, I can communicate effectively with both clients and others.</p>
      </section>
      <section>
        <span class="icon major fa-diamond"></span>
        <h3>Hobbies</h3>
        <p>I am interested in sound engineering, and DJ at bars and clubs across Sheffield. I have also organised music events playing genres including house and disco.</p>
      </section>
    </div>
  </div>
</section>
