<!-- Two -->
<section id="two" class="wrapper skills fade-up">
  <div class="inner">
    <h2>Skills</h2>
    <p>I develop both backend and frontend code, and can quickly understand and contribute to any level of the stack.</p>
    <div class="features">
      <section>
        <span class="icon major fa-code"></span>
        <h3>Development</h3>
        <p>I am confident in Swift for iOS, and have a deep understanding of how to read the motion sensors and GPS in different models of the iPhone. I have created web applications, and server architectures designed to scale to half a million users.</p>
      </section>
      <section>
        <span class="icon major fa-terminal"></span>
        <h3>Technologies</h3>
        <p><strong>Professional experience</strong><br>iOS, HealthKit, CoreMotion, Node.js, React, Electron, MySQL, Mongo, AWS, Nginx, Git, Vim<br><strong>Interested in</strong><br>Kafka, Microservices, UI/UX design</p>
      </section>
      <section>
        <span class="icon major fa-cog"></span>
        <h3>Teamwork</h3>
        <p>I am comfortable following agile methodologies, as both leader and contributor, and regularly use Git as part of a team to manage large codebases with several submodules. I can communicate effectively with both clients and other development teams.</p>
      </section>
      <section>
        <span class="icon major fa-diamond"></span>
        <h3>Hobbies</h3>
        <p>I am interested in sound engineering, and DJ at bars and clubs across Sheffield. I have also organised music events playing genres including house and disco.</p>
      </section>
    </div>
  </div>
</section>
